# Base
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=67a1a0c100090102591e

# Database
NEXT_PUBLIC_APPWRITE_DATABASE_ID=67a1a3ee001a9126cd79

# Collections
NEXT_PUBLIC_APPWRITE_EVENT_COLLECTION_ID=67a1a7c5002b1f3b3908
NEXT_PUBLIC_APPWRITE_REGISTRATION_COLLECTION_ID=67a1ae2c002769987e06
NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID=67a1ae3d0008868f86de